.navBar{
    display: flex;
    padding: 5px;
    padding-top: 10px;
    border: solid red;
}
.leftNavBar{
   width: 50%;
}
.navCompanyLogo{
    display: flex;
    height: 30px;
}
.rightNavBar{
    display: flex;
    justify-content: end;
    width: 50%;
}
.navItem1{
    padding-right: 5%;
}
.navItem2{
    padding-right: 5%;
}
.navItem3{
    padding-right: 5%;
}
.navItem4{
    padding-right: 5%;
}
.navSearchIcon{
    height: 20px;
}


/* Navigation Bar above */
.sellProp{
    display: flex;
    flex-direction: column;
    border: solid blue;
    align-items: center;
    height: auto;
    padding: 5px;
}
.mainHead{
    font-size: large;
    font-weight: bold;
}
.suppHead{
    font-size: medium;
}
/* USP Unique Selling Proposition above*/
.hero1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid green;
}
.heroImage{
    height: 300px;
    width: 100%;
}
.heroDescr{
    font-size: medium;

}
/* Hero Image above */
.benefitOf{
    border: solid red;
}
.benefitFeature{
    border:solid blue;
    text-align: center;
}
/* Benefits of Offering above */
.socialProof{
    border: solid green;
}
.socialQuotes{
    border: solid red;
    text-align: center;
}
/* Social Proof above */
.conGoal{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid blue;
}
.conTitle{
    font-size: large;
    font-weight: bold;
}
.conSubTitle{
    font-size: medium;
}
.loginSignUp{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.loginButton{
    margin: 5px;
}
/*.loginOr{
     padding: 5px; 
}*/
.registerButton{
    margin: 5px;
}
/* Single Conversion Goal above */
.loginTitle{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
    /* width: 100%; */
}
.loginIcon{
    height: 50px;
    /* width: 100%; */
}
.loginText{
    border: solid red;
    /* width: 100%; */
}
/* login page Title above */
.emailContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid blue;
    margin-bottom: 10px;
    /* width: 100%; */
}
.emailText{
    display: flex;
    border: solid orange;
    padding-right: 72.3px;
    /* width: 100%; */
}
.emailInput{
    border: solid green;
    /* width:max-content */
}
/* email container above */
.passwordContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid blue;
    margin-bottom: 10px;
    /* width: 100%; */
}
.passwordText{
    display: flex;
    border: solid orange;
    padding-right: 104.5px;
    /* width: 100%; */
}
.passwordInput{
    border: solid green;
    /* width:max-content */
}
/* password container above */
.loginContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid blue;
    /* width: 100%; */
}
.loginPageButton{
    margin: 5px;
    border: solid orange;
    /* width: 100%; */
}
.newUser{
    border: solid green;
    /* width:100%; */
}
.createAccount{
    text-decoration: none;
    color: blue;
    border: solid black;
    /* width: 100%; */
}
/* login or register above*/




.registerTitle{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
    /* width: 100%; */
}
.registerIcon{
    height: 50px;
    /* width: 100%; */
}
.registerText{
    border: solid red;
    /* width: 100%; */
}
/* register page Title above */


.samePasswordText{
    display: flex;
    border: solid orange;
    padding-right: 45.8px;
    /* width: 100%; */
}
/* password container above */
.registerContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid blue;
    /* width: 100%; */
}
.registerPageButton{
    margin: 5px;
    border: solid orange;
    /* width: 100%; */
}
.oldUser{
    border: solid green;
    /* width:100%; */
}
.goToAccount{
    text-decoration: none;
    color: blue;
    border: solid black;
}
    /* width: 100%; */
/* register or login above */



body{
    margin: 0;
    padding: 0;
}